<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<dict>
		<key>name</key>
		<string>STR_CONCRETE</string>
		<key>nameShortId</key>
		<integer>232</integer>
		<key>nameLongId</key>
		<integer>233</integer>
		<key>nameLong</key>
		<string>STR_SMALL_CONCRETE_SLAB</string>
		<key>wsa</key>
		<string>slab.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>0</integer>
		<key>hitpoints</key>
		<integer>20</integer>
		<key>fogUncoverRadius</key>
		<integer>1</integer>
		<key>spriteID</key>
		<integer>65</integer>
		<key>buildCredits</key>
		<integer>5</integer>
		<key>buildTime</key>
		<integer>16</integer>
		<key>availableCampaign</key>
		<string>1</string>
		<key>structuresRequired</key>
		<array/>
		<key>sortPriority</key>
		<integer>2</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>341</integer>
		<key>hintString</key>
		<string>STR_CONCRETE_USE_CONCRETE_TO_MAKE_A_STURDY_FOUNDATION_FOR_YOUR_STRUCTURES</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>5</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>0</integer>
		<key>layoutWidth</key>
		<integer>1</integer>
		<key>layoutHeight</key>
		<integer>1</integer>
		<key>iconGroupId</key>
		<integer>8</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_CONCRETE_SLAB</string>
		<key>animationIndex</key>
		<array>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Concrete4</key>
	<dict>
		<key>name</key>
		<string>STR_CONCRETE_4</string>
		<key>nameShortId</key>
		<integer>234</integer>
		<key>nameLongId</key>
		<integer>235</integer>
		<key>nameLong</key>
		<string>STR_LARGE_CONCRETE_SLAB</string>
		<key>wsa</key>
		<string>4slab.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>0</integer>
		<key>hitpoints</key>
		<integer>20</integer>
		<key>fogUncoverRadius</key>
		<integer>1</integer>
		<key>spriteID</key>
		<integer>83</integer>
		<key>buildCredits</key>
		<integer>20</integer>
		<key>buildTime</key>
		<integer>16</integer>
		<key>availableCampaign</key>
		<string>4</string>
		<key>structuresRequired</key>
		<array/>
		<key>sortPriority</key>
		<integer>4</integer>
		<key>upgradeLevelRequired</key>
		<integer>1</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>341</integer>
		<key>hintString</key>
		<string>STR_CONCRETE_USE_CONCRETE_TO_MAKE_A_STURDY_FOUNDATION_FOR_YOUR_STRUCTURES</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>10</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>0</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>8</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_CONCRETE_SLAB</string>
		<key>animationIndex</key>
		<array>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Palace</key>
	<dict>
		<key>name</key>
		<string>STR_PALACE</string>
		<key>nameShortId</key>
		<integer>236</integer>
		<key>nameLongId</key>
		<integer>237</integer>
		<key>nameLong</key>
		<string>STR_HOUSE_PALACE</string>
		<key>wsa</key>
		<string>palace.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>128</integer>
		<key>hitpoints</key>
		<integer>1000</integer>
		<key>fogUncoverRadius</key>
		<integer>5</integer>
		<key>spriteID</key>
		<integer>66</integer>
		<key>buildCredits</key>
		<integer>999</integer>
		<key>buildTime</key>
		<integer>130</integer>
		<key>availableCampaign</key>
		<string>8</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_STARPORT</string>
		</array>
		<key>sortPriority</key>
		<integer>5</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>342</integer>
		<key>hintString</key>
		<string>STR_PALACE_THIS_IS_YOUR_PALACE</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>400</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>80</integer>
		<key>layoutWidth</key>
		<integer>3</integer>
		<key>layoutHeight</key>
		<integer>3</integer>
		<key>iconGroupId</key>
		<integer>11</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_HOUSE_PALACE</string>
		<key>animationIndex</key>
		<array>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Light Fctry</key>
	<dict>
		<key>name</key>
		<string>STR_LIGHT_FCTRY</string>
		<key>nameShortId</key>
		<integer>238</integer>
		<key>nameLongId</key>
		<integer>239</integer>
		<key>nameLong</key>
		<string>STR_LIGHT_VEHICLE_FACTORY</string>
		<key>wsa</key>
		<string>liteftry.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<true/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>64</integer>
		<key>hitpoints</key>
		<integer>350</integer>
		<key>fogUncoverRadius</key>
		<integer>3</integer>
		<key>spriteID</key>
		<integer>67</integer>
		<key>buildCredits</key>
		<integer>400</integer>
		<key>buildTime</key>
		<integer>96</integer>
		<key>availableCampaign</key>
		<string>3</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_REFINERY</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>14</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>343</integer>
		<key>hintString</key>
		<string>STR_LIGHT_FACTORY_THE_LIGHT_FACTORY_PRODUCES_LIGHT_ATTACK_VEHICLES</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>200</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>20</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>12</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_LIGHT_VEHICLE_FACTORY</string>
		<key>animationIndex</key>
		<array>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>buildableUnits</key>
		<array>
			<string>UNIT_TRIKE</string>
			<string>UNIT_QUAD</string>
		</array>
		<key>upgradeCampaign</key>
		<array>
			<integer>3</integer>
		</array>
	</dict>
	<key>Heavy Fctry</key>
	<dict>
		<key>name</key>
		<string>STR_HEAVY_FCTRY</string>
		<key>nameShortId</key>
		<integer>240</integer>
		<key>nameLongId</key>
		<integer>241</integer>
		<key>nameLong</key>
		<string>STR_HEAVY_VEHICLE_FACTORY</string>
		<key>wsa</key>
		<string>hvyftry.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<true/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>64</integer>
		<key>hitpoints</key>
		<integer>200</integer>
		<key>fogUncoverRadius</key>
		<integer>3</integer>
		<key>spriteID</key>
		<integer>68</integer>
		<key>buildCredits</key>
		<integer>600</integer>
		<key>buildTime</key>
		<integer>144</integer>
		<key>availableCampaign</key>
		<string>4</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
			<string>FLAG_STRUCTURE_LIGHT_VEHICLE</string>
		</array>
		<key>sortPriority</key>
		<integer>28</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>344</integer>
		<key>hintString</key>
		<string>STR_HEAVY_FACTORY_THE_HEAVY_FACTORY_PRODUCES_TRACKED_VEHICLES</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>600</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>35</integer>
		<key>layoutWidth</key>
		<integer>3</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>13</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_HEAVY_VEHICLE_FACTORY</string>
		<key>animationIndex</key>
		<array>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>buildableUnits</key>
		<array>
			<string>UNIT_SIEGE_TANK</string>
			<string>UNIT_LAUNCHER</string>
			<string>UNIT_HARVESTER</string>
			<string>UNIT_TANK</string>
			<string>UNIT_DEVASTATOR</string>
			<string>UNIT_DEVIATOR</string>
			<string>UNIT_MCV</string>
			<string>UNIT_SONIC_TANK</string>
		</array>
		<key>upgradeCampaign</key>
		<array>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
		</array>
	</dict>
	<key>Hi-Tech</key>
	<dict>
		<key>name</key>
		<string>STR_HITECH</string>
		<key>nameShortId</key>
		<integer>242</integer>
		<key>nameLongId</key>
		<integer>243</integer>
		<key>nameLong</key>
		<string>STR_HITECH_FACTORY</string>
		<key>wsa</key>
		<string>hitcftry.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<true/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>64</integer>
		<key>hitpoints</key>
		<integer>400</integer>
		<key>fogUncoverRadius</key>
		<integer>3</integer>
		<key>spriteID</key>
		<integer>69</integer>
		<key>buildCredits</key>
		<integer>500</integer>
		<key>buildTime</key>
		<integer>120</integer>
		<key>availableCampaign</key>
		<string>5</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
			<string>FLAG_STRUCTURE_LIGHT_VEHICLE</string>
		</array>
		<key>sortPriority</key>
		<integer>30</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>344</integer>
		<key>hintString</key>
		<string>STR_HITECH_FACTORY_THE_HITECH_FACTORY_PRODUCES_FLYING_VEHICLES</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>200</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>35</integer>
		<key>layoutWidth</key>
		<integer>3</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>14</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_HI_TECH_FACTORY</string>
		<key>animationIndex</key>
		<array>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>buildableUnits</key>
		<array>
			<string>UNIT_CARRYALL</string>
			<string>UNIT_ORNITHOPTER</string>
		</array>
		<key>upgradeCampaign</key>
		<array>
			<integer>7</integer>
		</array>
	</dict>
	<key>IX</key>
	<dict>
		<key>name</key>
		<string>STR_IX</string>
		<key>nameShortId</key>
		<integer>244</integer>
		<key>nameLongId</key>
		<integer>245</integer>
		<key>nameLong</key>
		<string>STR_HOUSE_OF_IX</string>
		<key>wsa</key>
		<string>ix.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>192</integer>
		<key>hitpoints</key>
		<integer>400</integer>
		<key>fogUncoverRadius</key>
		<integer>3</integer>
		<key>spriteID</key>
		<integer>70</integer>
		<key>buildCredits</key>
		<integer>500</integer>
		<key>buildTime</key>
		<integer>120</integer>
		<key>availableCampaign</key>
		<string>7</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_REFINERY</string>
			<string>FLAG_STRUCTURE_STARPORT</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>34</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>346</integer>
		<key>hintString</key>
		<string>STR_HOUSE_IX_THE_IX_RESEARCH_FACILITY_ADVANCES_YOUR_HOUSES_TECHNOLOGY</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>100</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>40</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>15</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_IX_RESEARCH</string>
		<key>animationIndex</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>WOR</key>
	<dict>
		<key>name</key>
		<string>STR_WOR</string>
		<key>nameShortId</key>
		<integer>246</integer>
		<key>nameLongId</key>
		<integer>247</integer>
		<key>nameLong</key>
		<string>STR_WOR_TROOPER_FACILITY</string>
		<key>wsa</key>
		<string>wor.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<true/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>128</integer>
		<key>hitpoints</key>
		<integer>400</integer>
		<key>fogUncoverRadius</key>
		<integer>3</integer>
		<key>spriteID</key>
		<integer>71</integer>
		<key>buildCredits</key>
		<integer>400</integer>
		<key>buildTime</key>
		<integer>104</integer>
		<key>availableCampaign</key>
		<string>5</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_BARRACKS</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>20</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>347</integer>
		<key>hintString</key>
		<string>STR_WOR_WOR_IS_USED_TO_TRAIN_YOUR_HEAVY_INFANTRY</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>175</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_MERCENARY</string>
			<string>FLAG_HOUSE_SARDAUKAR</string>
			<string>FLAG_HOUSE_FREMEN</string>
			<string>FLAG_HOUSE_ORDOS</string>
			<string>FLAG_HOUSE_HARKONNEN</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>20</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>16</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_WOR_TROOPER_FACILITY</string>
		<key>animationIndex</key>
		<array>
			<integer>21</integer>
			<integer>21</integer>
			<integer>21</integer>
		</array>
		<key>buildableUnits</key>
		<array>
			<string>UNIT_TROOPER</string>
			<string>UNIT_TROOPERS</string>
		</array>
		<key>upgradeCampaign</key>
		<array>
			<integer>6</integer>
		</array>
	</dict>
	<key>Const Yard</key>
	<dict>
		<key>name</key>
		<string>STR_CONST_YARD</string>
		<key>nameShortId</key>
		<integer>248</integer>
		<key>nameLongId</key>
		<integer>249</integer>
		<key>nameLong</key>
		<string>STR_CONSTRUCTION_YARD</string>
		<key>wsa</key>
		<string>construc.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<true/>
			<key>notOnConcrete</key>
			<true/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>64</integer>
		<key>hitpoints</key>
		<integer>400</integer>
		<key>fogUncoverRadius</key>
		<integer>3</integer>
		<key>spriteID</key>
		<integer>72</integer>
		<key>buildCredits</key>
		<integer>400</integer>
		<key>buildTime</key>
		<integer>80</integer>
		<key>availableCampaign</key>
		<string>99</string>
		<key>structuresRequired</key>
		<array/>
		<key>sortPriority</key>
		<integer>0</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>348</integer>
		<key>hintString</key>
		<string>STR_CONSTRUCTION_FACILITY_ALL_STRUCTURES_ARE_BUILT_BY_THE_CONSTRUCTION_FACILITY</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>300</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>0</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>17</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_CONSTRUCTION_YARD</string>
		<key>animationIndex</key>
		<array>
			<integer>22</integer>
			<integer>22</integer>
			<integer>22</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array>
			<integer>4</integer>
			<integer>6</integer>
		</array>
	</dict>
	<key>Windtrap</key>
	<dict>
		<key>name</key>
		<string>STR_WINDTRAP</string>
		<key>nameShortId</key>
		<integer>250</integer>
		<key>nameLongId</key>
		<integer>251</integer>
		<key>nameLong</key>
		<string>STR_WINDTRAP_POWER_CENTER</string>
		<key>wsa</key>
		<string>windtrap.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>64</integer>
		<key>hitpoints</key>
		<integer>200</integer>
		<key>fogUncoverRadius</key>
		<integer>2</integer>
		<key>spriteID</key>
		<integer>73</integer>
		<key>buildCredits</key>
		<integer>300</integer>
		<key>buildTime</key>
		<integer>48</integer>
		<key>availableCampaign</key>
		<string>1</string>
		<key>structuresRequired</key>
		<array/>
		<key>sortPriority</key>
		<integer>6</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>349</integer>
		<key>hintString</key>
		<string>STR_WINDTRAP_THE_WINDTRAP_SUPPLIES_POWER_TO_YOUR_BASE_WITHOUT_POWER_YOUR_STRUCTURES_WILL_DECAY</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>300</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>-100</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>19</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_WINDTRAP_POWER</string>
		<key>animationIndex</key>
		<array>
			<integer>26</integer>
			<integer>26</integer>
			<integer>26</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Barracks</key>
	<dict>
		<key>name</key>
		<string>STR_BARRACKS</string>
		<key>nameShortId</key>
		<integer>252</integer>
		<key>nameLongId</key>
		<integer>253</integer>
		<key>nameLong</key>
		<string>STR_INFANTRY_BARRACKS</string>
		<key>wsa</key>
		<string>barrac.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<true/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>128</integer>
		<key>hitpoints</key>
		<integer>300</integer>
		<key>fogUncoverRadius</key>
		<integer>2</integer>
		<key>spriteID</key>
		<integer>74</integer>
		<key>buildCredits</key>
		<integer>300</integer>
		<key>buildTime</key>
		<integer>72</integer>
		<key>availableCampaign</key>
		<string>2</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>18</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>350</integer>
		<key>hintString</key>
		<string>STR_BARRACKS_THE_BARRACKS_IS_USED_TO_TRAIN_YOUR_LIGHT_INFANTRY</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>100</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_MERCENARY</string>
			<string>FLAG_HOUSE_SARDAUKAR</string>
			<string>FLAG_HOUSE_FREMEN</string>
			<string>FLAG_HOUSE_ORDOS</string>
			<string>FLAG_HOUSE_ATREIDES</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>10</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>18</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_INFANTRY_BARRACKS</string>
		<key>animationIndex</key>
		<array>
			<integer>28</integer>
			<integer>28</integer>
			<integer>28</integer>
		</array>
		<key>buildableUnits</key>
		<array>
			<string>UNIT_SOLDIER</string>
			<string>UNIT_INFANTRY</string>
		</array>
		<key>upgradeCampaign</key>
		<array>
			<integer>2</integer>
		</array>
	</dict>
	<key>Starport</key>
	<dict>
		<key>name</key>
		<string>STR_STARPORT</string>
		<key>nameShortId</key>
		<integer>254</integer>
		<key>nameLongId</key>
		<integer>255</integer>
		<key>nameLong</key>
		<string>STR_STARPORT_FACILITY</string>
		<key>wsa</key>
		<string>starport.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<true/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<true/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>128</integer>
		<key>hitpoints</key>
		<integer>500</integer>
		<key>fogUncoverRadius</key>
		<integer>6</integer>
		<key>spriteID</key>
		<integer>75</integer>
		<key>buildCredits</key>
		<integer>500</integer>
		<key>buildTime</key>
		<integer>120</integer>
		<key>availableCampaign</key>
		<string>6</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_REFINERY</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>32</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>350</integer>
		<key>hintString</key>
		<string>STR_STARTPORT_THE_STARPORT_IS_USED_TO_ORDER_AND_RECEIVE_SHIPMENTS_FROM_CHOAM</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>250</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array/>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>50</integer>
		<key>layoutWidth</key>
		<integer>3</integer>
		<key>layoutHeight</key>
		<integer>3</integer>
		<key>iconGroupId</key>
		<integer>20</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_STARPORT_FACILITY</string>
		<key>animationIndex</key>
		<array>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Refinery</key>
	<dict>
		<key>name</key>
		<string>STR_REFINERY</string>
		<key>nameShortId</key>
		<integer>256</integer>
		<key>nameLongId</key>
		<integer>257</integer>
		<key>nameLong</key>
		<string>STR_SPICE_REFINERY</string>
		<key>wsa</key>
		<string>refinery.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<true/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>128</integer>
		<key>hitpoints</key>
		<integer>450</integer>
		<key>fogUncoverRadius</key>
		<integer>4</integer>
		<key>spriteID</key>
		<integer>76</integer>
		<key>buildCredits</key>
		<integer>400</integer>
		<key>buildTime</key>
		<integer>80</integer>
		<key>availableCampaign</key>
		<string>1</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>8</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>352</integer>
		<key>hintString</key>
		<string>STR_SPICE_REFINERY_THE_REFINERY_CONVERTS_SPICE_INTO_CREDITS</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>300</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array>
			<string>FLAG_UNIT_HARVESTER</string>
		</array>
		<key>creditsStorage</key>
		<integer>1</integer>
		<key>powerUsage</key>
		<integer>30</integer>
		<key>layoutWidth</key>
		<integer>3</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>21</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_SPICE_REFINERY</string>
		<key>animationIndex</key>
		<array>
			<integer>17</integer>
			<integer>18</integer>
			<integer>19</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Repair</key>
	<dict>
		<key>name</key>
		<string>STR_REPAIR2</string>
		<key>nameShortId</key>
		<integer>258</integer>
		<key>nameLongId</key>
		<integer>259</integer>
		<key>nameLong</key>
		<string>STR_REPAIR_FACILITY</string>
		<key>wsa</key>
		<string>repair.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>128</integer>
		<key>hitpoints</key>
		<integer>200</integer>
		<key>fogUncoverRadius</key>
		<integer>3</integer>
		<key>spriteID</key>
		<integer>77</integer>
		<key>buildCredits</key>
		<integer>700</integer>
		<key>buildTime</key>
		<integer>80</integer>
		<key>availableCampaign</key>
		<string>5</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
			<string>FLAG_STRUCTURE_LIGHT_VEHICLE</string>
		</array>
		<key>sortPriority</key>
		<integer>24</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>353</integer>
		<key>hintString</key>
		<string>STR_REPAIR_FACILITY_THE_REPAIR_FACILITY_IS_USED_TO_REPAIR_YOUR_VEHICLES</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>600</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array>
			<string>FLAG_UNIT_HARVESTER</string>
			<string>FLAG_UNIT_QUAD</string>
			<string>FLAG_UNIT_RAIDER_TRIKE</string>
			<string>FLAG_UNIT_TRIKE</string>
			<string>FLAG_UNIT_SONIC_TANK</string>
			<string>FLAG_UNIT_DEVASTATOR</string>
			<string>FLAG_UNIT_SIEGE_TANK</string>
			<string>FLAG_UNIT_TANK</string>
			<string>FLAG_UNIT_DEVIATOR</string>
			<string>FLAG_UNIT_LAUNCHER</string>
		</array>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>20</integer>
		<key>layoutWidth</key>
		<integer>3</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>22</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_VEHICLE_REPAIR_CENTRE</string>
		<key>animationIndex</key>
		<array>
			<integer>23</integer>
			<integer>24</integer>
			<integer>25</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Wall</key>
	<dict>
		<key>name</key>
		<string>STR_WALL</string>
		<key>nameShortId</key>
		<integer>260</integer>
		<key>nameLongId</key>
		<integer>261</integer>
		<key>nameLong</key>
		<string>STR_BASE_DEFENSE_WALL</string>
		<key>wsa</key>
		<string>wall.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>0</integer>
		<key>hitpoints</key>
		<integer>50</integer>
		<key>fogUncoverRadius</key>
		<integer>1</integer>
		<key>spriteID</key>
		<integer>78</integer>
		<key>buildCredits</key>
		<integer>50</integer>
		<key>buildTime</key>
		<integer>40</integer>
		<key>availableCampaign</key>
		<string>4</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>16</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>354</integer>
		<key>hintString</key>
		<string>STR_WALL_THE_WALL_IS_USED_FOR_PASSIVE_DEFENSE</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>600</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array>
			<string>FLAG_UNIT_HARVESTER</string>
			<string>FLAG_UNIT_QUAD</string>
			<string>FLAG_UNIT_RAIDER_TRIKE</string>
			<string>FLAG_UNIT_TRIKE</string>
			<string>FLAG_UNIT_SONIC_TANK</string>
			<string>FLAG_UNIT_DEVASTATOR</string>
			<string>FLAG_UNIT_SIEGE_TANK</string>
			<string>FLAG_UNIT_TANK</string>
			<string>FLAG_UNIT_DEVIATOR</string>
			<string>FLAG_UNIT_LAUNCHER</string>
		</array>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>0</integer>
		<key>layoutWidth</key>
		<integer>1</integer>
		<key>layoutHeight</key>
		<integer>1</integer>
		<key>iconGroupId</key>
		<integer>6</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_WALLS</string>
		<key>animationIndex</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Turret</key>
	<dict>
		<key>name</key>
		<string>STR_TURRET</string>
		<key>nameShortId</key>
		<integer>262</integer>
		<key>nameLongId</key>
		<integer>263</integer>
		<key>nameLong</key>
		<string>STR_CANNON_TURRET</string>
		<key>wsa</key>
		<string>turret.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>64</integer>
		<key>hitpoints</key>
		<integer>200</integer>
		<key>fogUncoverRadius</key>
		<integer>2</integer>
		<key>spriteID</key>
		<integer>79</integer>
		<key>buildCredits</key>
		<integer>125</integer>
		<key>buildTime</key>
		<integer>64</integer>
		<key>availableCampaign</key>
		<string>5</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>22</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>355</integer>
		<key>hintString</key>
		<string>STR_GUN_TURRET_THE_CANNON_TURRET_IS_USED_FOR_SHORT_RANGE_ACTIVE_DEFENSE</string>
		<key>priorityBuild</key>
		<integer>75</integer>
		<key>priorityTarget</key>
		<integer>150</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array>
			<string>FLAG_UNIT_HARVESTER</string>
			<string>FLAG_UNIT_QUAD</string>
			<string>FLAG_UNIT_RAIDER_TRIKE</string>
			<string>FLAG_UNIT_TRIKE</string>
			<string>FLAG_UNIT_SONIC_TANK</string>
			<string>FLAG_UNIT_DEVASTATOR</string>
			<string>FLAG_UNIT_SIEGE_TANK</string>
			<string>FLAG_UNIT_TANK</string>
			<string>FLAG_UNIT_DEVIATOR</string>
			<string>FLAG_UNIT_LAUNCHER</string>
		</array>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>10</integer>
		<key>layoutWidth</key>
		<integer>1</integer>
		<key>layoutHeight</key>
		<integer>1</integer>
		<key>iconGroupId</key>
		<integer>23</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_BASE_DEFENSE_TURRET</string>
		<key>animationIndex</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>R-Turret</key>
	<dict>
		<key>name</key>
		<string>STR_RTURRET</string>
		<key>nameShortId</key>
		<integer>264</integer>
		<key>nameLongId</key>
		<integer>265</integer>
		<key>nameLong</key>
		<string>STR_ROCKET_TURRET</string>
		<key>wsa</key>
		<string>rturret.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>64</integer>
		<key>hitpoints</key>
		<integer>200</integer>
		<key>fogUncoverRadius</key>
		<integer>5</integer>
		<key>spriteID</key>
		<integer>80</integer>
		<key>buildCredits</key>
		<integer>250</integer>
		<key>buildTime</key>
		<integer>96</integer>
		<key>availableCampaign</key>
		<string>0</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_OUTPOST</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>26</integer>
		<key>upgradeLevelRequired</key>
		<integer>2</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>356</integer>
		<key>hintString</key>
		<string>STR_ROCKET_TURRET_THE_ROCKETCANNON_TURRET_IS_USED_FOR_BOTH_SHORT_AND_MEDIUM_RANGE_ACTIVE_DEFENSE</string>
		<key>priorityBuild</key>
		<integer>100</integer>
		<key>priorityTarget</key>
		<integer>75</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array>
			<string>FLAG_UNIT_HARVESTER</string>
			<string>FLAG_UNIT_QUAD</string>
			<string>FLAG_UNIT_RAIDER_TRIKE</string>
			<string>FLAG_UNIT_TRIKE</string>
			<string>FLAG_UNIT_SONIC_TANK</string>
			<string>FLAG_UNIT_DEVASTATOR</string>
			<string>FLAG_UNIT_SIEGE_TANK</string>
			<string>FLAG_UNIT_TANK</string>
			<string>FLAG_UNIT_DEVIATOR</string>
			<string>FLAG_UNIT_LAUNCHER</string>
		</array>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>25</integer>
		<key>layoutWidth</key>
		<integer>1</integer>
		<key>layoutHeight</key>
		<integer>1</integer>
		<key>iconGroupId</key>
		<integer>24</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_BASE_ROCKET_TURRET</string>
		<key>animationIndex</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Spice Silo</key>
	<dict>
		<key>name</key>
		<string>STR_SPICE_SILO</string>
		<key>nameShortId</key>
		<integer>266</integer>
		<key>nameLongId</key>
		<integer>267</integer>
		<key>nameLong</key>
		<string>STR_SPICE_STORAGE_SILO</string>
		<key>wsa</key>
		<string>storage.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<true/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>0</integer>
		<key>hitpoints</key>
		<integer>150</integer>
		<key>fogUncoverRadius</key>
		<integer>2</integer>
		<key>spriteID</key>
		<integer>81</integer>
		<key>buildCredits</key>
		<integer>150</integer>
		<key>buildTime</key>
		<integer>48</integer>
		<key>availableCampaign</key>
		<string>2</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_REFINERY</string>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>12</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>357</integer>
		<key>hintString</key>
		<string>STR_SPICE_SILO_THE_SPICE_SILO_IS_USED_TO_STORE_REFINED_SPICE</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>150</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array>
			<string>FLAG_UNIT_HARVESTER</string>
			<string>FLAG_UNIT_QUAD</string>
			<string>FLAG_UNIT_RAIDER_TRIKE</string>
			<string>FLAG_UNIT_TRIKE</string>
			<string>FLAG_UNIT_SONIC_TANK</string>
			<string>FLAG_UNIT_DEVASTATOR</string>
			<string>FLAG_UNIT_SIEGE_TANK</string>
			<string>FLAG_UNIT_TANK</string>
			<string>FLAG_UNIT_DEVIATOR</string>
			<string>FLAG_UNIT_LAUNCHER</string>
		</array>
		<key>creditsStorage</key>
		<integer>1000</integer>
		<key>powerUsage</key>
		<integer>5</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>25</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_SPICE_STORAGE_SILO</string>
		<key>animationIndex</key>
		<array>
			<integer>27</integer>
			<integer>27</integer>
			<integer>27</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
	<key>Outpost</key>
	<dict>
		<key>name</key>
		<string>STR_OUTPOST</string>
		<key>nameShortId</key>
		<integer>268</integer>
		<key>nameLongId</key>
		<integer>269</integer>
		<key>nameLong</key>
		<string>STR_RADAR_OUTPOST</string>
		<key>wsa</key>
		<string>headqrts.wsa</string>
		<key>flags</key>
		<dict>
			<key>factory</key>
			<false/>
			<key>notOnConcrete</key>
			<false/>
			<key>busyStateIsIncoming</key>
			<false/>
			<key>conquerable</key>
			<false/>
			<key>noMessageOnDeath</key>
			<false/>
			<key>tabSelectable</key>
			<false/>
			<key>scriptNoSlowdown</key>
			<false/>
			<key>targetAir</key>
			<false/>
			<key>priority</key>
			<false/>
		</dict>
		<key>spawnChance</key>
		<integer>128</integer>
		<key>hitpoints</key>
		<integer>500</integer>
		<key>fogUncoverRadius</key>
		<integer>10</integer>
		<key>spriteID</key>
		<integer>82</integer>
		<key>buildCredits</key>
		<integer>400</integer>
		<key>buildTime</key>
		<integer>80</integer>
		<key>availableCampaign</key>
		<string>2</string>
		<key>structuresRequired</key>
		<array>
			<string>FLAG_STRUCTURE_WINDTRAP</string>
		</array>
		<key>sortPriority</key>
		<integer>10</integer>
		<key>upgradeLevelRequired</key>
		<integer>0</integer>
		<key>available</key>
		<integer>0</integer>
		<key>hintStringId</key>
		<integer>358</integer>
		<key>hintString</key>
		<string>STR_OUTPOST_THE_OUTPOST_PROVIDES_RADAR_AND_AIDS_CONTROL_OF_DISTANT_VEHICLES</string>
		<key>priorityBuild</key>
		<integer>0</integer>
		<key>priorityTarget</key>
		<integer>275</integer>
		<key>availableHouse</key>
		<array>
			<string>FLAG_HOUSE_ALL</string>
		</array>
		<key>enterFilter</key>
		<array>
			<string>FLAG_UNIT_HARVESTER</string>
			<string>FLAG_UNIT_QUAD</string>
			<string>FLAG_UNIT_RAIDER_TRIKE</string>
			<string>FLAG_UNIT_TRIKE</string>
			<string>FLAG_UNIT_SONIC_TANK</string>
			<string>FLAG_UNIT_DEVASTATOR</string>
			<string>FLAG_UNIT_SIEGE_TANK</string>
			<string>FLAG_UNIT_TANK</string>
			<string>FLAG_UNIT_DEVIATOR</string>
			<string>FLAG_UNIT_LAUNCHER</string>
		</array>
		<key>creditsStorage</key>
		<integer>0</integer>
		<key>powerUsage</key>
		<integer>30</integer>
		<key>layoutWidth</key>
		<integer>2</integer>
		<key>layoutHeight</key>
		<integer>2</integer>
		<key>iconGroupId</key>
		<integer>26</integer>
		<key>iconGroup</key>
		<string>ICM_ICONGROUP_RADAR_OUTPOST</string>
		<key>animationIndex</key>
		<array>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
		</array>
		<key>buildableUnits</key>
		<array/>
		<key>upgradeCampaign</key>
		<array/>
	</dict>
</dict>
</plist>
